body
{
	background-color : #DDDDDD;
	height : var(--breakpoint-lg);
	font-family : "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

main
{
	background-color : #FFFFFF;
	height : var(--breakpoint-lg);
}

footer
{
	text-align : right;
}

i:before
{
	font-size : 16px;
}


.input-group-text
{
	width : 100px;
}

.nav-title
{
	padding-left : 1em;
}

li.active
{
	background-color : var(--red);
}


/* Login Page*/

#btnLogin
{
	width : 100%;
	height : 100%;
}

#btnLogin i:before
{
	font-size : 25px;
}

.loginDataDiv .input-group:last-child
{
	margin-bottom : 0 !important;
}

.loginLabel
{
	font-size : 20px;
	font-weight : bold;
}

#anchorJoin
{
	margin-top : 10px;
	text-align : right;
}

/* Time Table */
div.colDiv {
	margin : 0px 10px;
	border-radius : 10px;
	height : 320px;	
	background-color : #79545417;	
}
div.colDiv p
{
	text-align : center;
	margin : 10px 0px;
	font-weight : bold;
	height : 7.5%
}

#toggleBtn, #btnRoomInsert
{
    float: right;
}

#roomTable
{
	overflow : scroll;
}
.btnOffice,.btnRoom
{
	width : 100%;
	margin : 5px 0px;
}
button.btn-outline-black:hover
{
	background-color : transparent;
	color : #000;
}
button.btn-outline-black:focus
{
	box-shadow : 0 0 0 0.2rem rgba(0,0,0,0)
}
.divScroll
{
	overflow : scroll;
}
.divScroll::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

#divOffice
{
	height : 87.5%;
}

.timePicker,.roomPicker
{
	display : none;
}
#divTime
{
	margin : 50px 0px 0px 0px;
	--border : 1px solid;
}
.spanTime
{	
	width : calc(100% / 18);
	height : 100px;
	border-top : var(--border);
	border-bottom : var(--border);
	text-align : center;
	align-items : center;
	display: inline-flex;
}

.spanTime p
{
	display : inline-block;
	width : 100%;
}

.spanTime:first-child
{
	border-left : 1px solid;	
	border-top-left-radius : 10px;
	border-bottom-left-radius : 10px;
}
.spanTime:nth-child(odd)
{
	border-right : 1px dotted;	
}
.spanTime:nth-child(even)
{
	border-right : 1px solid;	
}
.spanTime:last-child
{
	border-top-right-radius : 10px;
	border-bottom-right-radius : 10px;
}


/* ROOM INFO Table*/
.inputDataDiv
{
	margin-bottom : 30px;
}
@media (min-width: 992px){
	
	.inputDataDiv .input-group:nth-child(n+3)
	{
		margin-bottom : 0 !important;
	}
	
	.btnRoomUpdate,.btnRoomDelete
	{
		width : 5em;
	}
	.tdButtons
	{
		width : 7.8em;
	}
	.office
	{
		width : 4em;
		text-align : center;
	}
	.size
	{
		width : 5em;
		text-align : center;
	}
}
@media (max-width: 576px){
	.ar
	{
		display : none;
	}	
	
	.btnRoomUpdate,.btnRoomDelete
	{
		width : 3em;
	}
	.tdButtons
	{
		width : 6.1em;
	}
	
	.office,
	.size
	{
		width : 4em;
		text-align : center;
	}
	
	.nav-item
	{
		margin : 0px 10px;
	}

}

table#roomInfoTable
{
	font-size : 15px;
}

.inputRoomInfo
{
	width : 100%;
}

#roomInfoTable
{
	table-layout : fixed;
}

#roomInfoTable thead,#tableLabel
{
	font-size : 18px;
	background-color : #cb3d3f;
	border-color : #af393b;
	text-align : center;
}
#roomInfoTable thead>tr>th,#tableLabel
{
	font-weight : bold !important;
	border-color : #af393b !important;
}

#tableLabel
{
	padding : 10px;
	margin-bottom : 0px;
	border: 1px solid;
}

#roomInfoTable td
{
	text-overflow : ellipsis;
	overflow : hidden;
	white-space:nowrap;
}

#btnRoomInsert
{
	width : 100%;
	height : 100%;
}

#btnRoomInsert i:before
{
	font-size : 25px;
}

