<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand nav-title" href="#">B2 TF 회의실 관리</a>
		<% if((page) != 'login'){ %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <% if (page == "timeTable") { %> active<% } %>">
              <a class="nav-link" href="timeTable">회의실예약</a>
            </li>
            <li class="nav-item<% if (page == "roomMng") { %> active<% } %>">
              <a class="nav-link" href="roomMng">회의실관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">사원관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">나의일정</a>
            </li>
          </ul>
        </div>
		<% } %>
      </nav>
    </header>