<div class = 'row loginDataDiv justify-content-center'>
	<p class = 'col-10 col-lg-7 loginLabel'>B2 회의실 예약 로그인</p>
	<div class="w-100"></div>
	<div class = 'col-7 col-lg-5'>
		<div class="input-group input-group-sm mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-sm">아이디</span>
		  </div>
		  <input type="text" id = "inputId" name = "아이디" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		</div>
		<div class="input-group input-group-sm mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-sm">비밀번호</span>
		  </div>
		  <input type="password" id = "inputPw" name = "비밀번호" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
		</div>
	</div>
	<div class='col-3 col-lg-2'>
		<button class = "btn btn-sm btn-green" id = "btnLogin">
			<i class="fa fa-sign-in"></i>
		</button>
	</div>
	<a class = 'col-10 col-lg-7' id = "anchorJoin" href=#>이용등록</a>
</div>