<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../../../favicon.ico"> -->

    <title>회의실 관리</title>
	<link rel="shortcut icon" href="/img/mtIcon.png">
	
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">
	
	<link href="css/theme-style.min.css" rel="stylesheet">
    <link href="css/meetingRoom.css" rel="stylesheet">
    <link href="css/sweetalert.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
	
	<% if (page == "timeTable") { %>
	<link href="css/bootstrap-datepicker3.css" rel="stylesheet">
	<link href="css/chosen.min.css" rel="stylesheet">	
	<% } %>
  </head>

  <body>
	<input id='pageName' value='<%=page %>'>
    <%include header%>
    <!-- Begin page content -->
    <main role="main" class="container">
	<%include spinner%>
	<%-include(page)%>
    </main>
    <%include footer%>   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/popper.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/sweetalert.min.js"></script>
    <% if (page == "timeTable") { %>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-datepicker.kr.min.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	<script>
	let datePicker = $('.timePicker').datepicker({
		maxViewMode: 1,
		todayBtn: "linked",
		language: "kr",
		keyboardNavigation: false,
		forceParse: false,
		todayHighlight: true
	});
	</script>
	<% } %>
	<script src="js/meetingRoom.js"></script>	
  </body>
</html>
