<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">층수</span>
  </div>
  <input type="number" id = "inputFloor" data-name = "층수" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">회의실번호</span>
  </div>
  <input type="number" id = "inputRoomNo" data-name = "회의실번호" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">수용인원</span>
  </div>
  <input type="number" id = "inputSize" data-name = "수용인원" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">기타</span>
  </div>
  <input type="text" id = "inputComment" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>
<button class = "btn btn-sm btn-primary" id = "btnRoomInsert">등 록</button>
