<div class = "row meetingRoomPicker justify-content-center">
	<div class = "colDiv col-lg-2 officePicker">
		<p>사무실</p>	
		<div id = "divOffice" class = 'divScroll'>
		<% for(var i = 0; i<data.length;i++){ %>
		<button class='btn btn-black btnOffice'><%=data[i].OFFICE%></button>
		<% } %>
		</div>
	</div>
	<div class = "colDiv col-lg-3 roomPicker">
		<p>회의실</p>
		<div id = "divRoom" class = 'divScroll'></div>
	</div>
	<div class = "colDiv col-lg-6 timePicker">
		<p>날짜</p>
	</div>
</div>
<button id = "toggleBtn" class = 'btn btn-secondary'><i class="fa fa-chevron-up"></i></button>
<div id = 'divTime'></div>
