<div class = "meetingRoomPicker">
	<div class = "colDiv col-sm-2">
		<p>층수</p>
	</div>
	<div class = "colDiv col-sm-3">
	  <p>회의실</p>
	</div>
	<div class = "colDiv col-sm-6 timePicker">
		<p>날짜</p>
	</div>
</div>
<button id = "toggleBtn" class = 'btn btn-secondary'>▲</button>
