.vote-title
{
	margin-top : 25px;
	margin-bottom : 15px;
	text-align : center;
	background-color : #2dcaca;
	border-radius : 10px;
	padding : 10px 0px;
}

body
{
	background-color : #CCCCCC;
}

main
{
	background-color : white;
	border-radius : 10px;
	height : 100%;
	padding : 10px 0px;
}

img
{
	height : 40px;
	margin-bottom : 10px;
	margin-right : 10px;
	border-radius : 10px;
}

.row
{
	margin-top : 16px;
}

.nameText
{
	color: #fff;
    background-color: #007bff;
    border-color: #AAA;
	border-radius : 4px;
	margin-bottom : 1em;
	height : 3em;
	padding : 0.25em 0em 1em 1em;
}

.nameText p
{
	display : inline-block;
	padding-top : 0.45em;
}

.calcButton
{
	float : right;
	margin-right : 0.5em;
}